.statistic{
  background-color: lightgray;
  border-radius: 5px;
  padding: 2%;
}

.statistic h1{
  color:black;
  font-weight: lighter;
}

.statistic h2{
  color:black;
  font-weight: lighter;
}

.statistic h4{
  color:black;
  font-weight:lighter;
}

.statistic .number{
  padding: 5%;
}

ion-card-content.card-content.card-content-md {
    padding: 0px;
}
